.container {
  width: 100%;
  max-width: $setting-container-width;
  @include inline-spacing(margin, auto);
  @include inline-spacing(padding, 1rem);
}

.container--content {
  max-width: $settings-max-paragraph-length;
}

.container.full {
  @include inline-spacing(padding, 0);
}

@include breakpoint(medium) {
  .container:not(.full) {
    @include inline-spacing(padding, 2rem);
  }
}
