$colors: (
  "white": grayColor(1),
  "light-gray": map-get($gray, 1),
  "dark": map-get($gray, 9),
  "orange": $primary-color,
  "blue": $tertiary-color,
);

.block {
  @include block-spacing("padding", 2rem);
}

.block h2:not(.h2) {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.block h3 {
  margin-bottom: 1rem;
}

.block a {
  @extend .link;
}

.block--text + .block--grid {
  padding-top: 0;
}

@each $color, $colorVar in $colors {
  .block--bg-#{$color} {
    background-color: $colorVar;
  }
  .block--text-#{$color} {
    color: $colorVar;
  }
}

@include breakpoint("medium") {
  .block {
    @include block-spacing("padding", 4rem);
  }

  .block--text + .block--grid {
    padding-top: 0;
  }

  .block h2:not(.h2) {
    font-size: 2.5rem;
  }
}
