.contact-info,
.contact-info__email {
  color: grayColor(1);
}

.contact-info {
  &.navigation-contact-info {
    padding: 1rem;
    background-color: primaryColor(4);
  }
}

.contact-info.navigation-contact-info {
  padding: 1rem;
  background-color: primaryColor(4);

  .contact-info__phone,
  .contact-info__email {
    font-weight: bold;
    white-space: nowrap;
  }
}

@include breakpoint(large) {
  .contact-info__email {
    text-decoration: none;
  }
  .contact-info.navigation-contact-info {
    position: relative;
    top: -1rem;
    margin-bottom: -1rem;
    @include inline-spacing("padding", 2rem);

    text-align: right;

    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 3px 0 0 primaryColor(6);
  }
}
