.mission-statement {
  @include block-spacing("padding", 3rem);
}

.mission-statement,
.mission-statement__container {
  position: relative;
}

.mission-statement__background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-size: 30%;
  opacity: 0.3;
}

.mission-statement__container {
  display: grid;
  gap: 2rem;
}

.mission-statement__heading {
  position: relative;

  display: inline-block;
}

.mission-statement__icon svg {
  position: relative;

  margin-left: 1rem;
  height: 2rem;

  fill: map-get($gray, 8);
  filter: drop-shadow($setting-orange-shadow);
}

.mission-statement__copy {
  display: flex;
  align-items: center;

  color: map-get($gray, 8);
}

@include breakpoint("medium") {
  .mission-statement {
    @include block-spacing("padding", 9rem);
  }

  .mission-statement__container {
    grid-template-columns: 4fr 8fr;
  }

  .mission-statement__heading-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .mission-statement__icon svg {
    height: 3.5rem;
  }
}
