@include breakpoint("large-down") {
  body[data-active-toggle="true"] {
    overflow: hidden;
  }

  .navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    text-align: center;

    background-color: grayColor(1);
    overflow-y: scroll;
    @include transition;

    &[data-active-toggle="true"] {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .navigation__logo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .navigation__logo .blre-logo {
    height: 3rem;
  }

  .navigation__list {
    flex-direction: column;
    flex: 1 1 100%;
    @include block-spacing("padding", 2rem);
  }

  .navigation-list__item {
    margin-bottom: 1.5rem;
  }

  .navigation__contact-info {
    align-self: stretch;
    @include block-spacing("padding", 2rem);

    text-align: center;

    background-color: primaryColor(4);
  }
}

@include breakpoint("large") {
  .navigation-list__item {
    margin-right: 0.5rem;
  }
  .navigation-list__item:last-of-type {
    margin-right: 0;
  }

  .navigation__logo {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .navigation__list {
    position: relative;

    align-items: center;
    display: flex;
    flex: 1 1 100%;
  }

  .navigation__contact-info {
    flex: 1 1 auto;
  }

  .navigation-list__submenu {
    position: absolute;
    left: 0;
    right: 0;

    border: 1px solid grayColor(4);
    border-radius: 0.25rem;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(-1px);
    @include transition;
  }

  .navigation-list__submenu.is-start {
    border-radius: 0 0.25rem 0.25rem 0.25rem;
  }
  .navigation-list__submenu.is-end {
    border-radius: 0.25rem 0 0.25rem 0.25rem;
  }

  .navigation-list__submenu--active {
    opacity: 1;
    pointer-events: all;
  }
}

@include breakpoint(large) {
  .navigation-list__submenu {
    min-width: 16rem;
  }
}
