.offer-form-block {
  display: grid;
  gap: 1rem;
}

.offer-form-block__icon svg {
  margin-left: 1rem;
  height: 2rem;

  fill: currentColor;
  filter: drop-shadow($setting-orange-shadow);
}

.offer-form-block__text {
  padding-top: 2rem;
}

.offer-form-block__text p {
  font-size: 1.5rem;
}

@include breakpoint(medium) {
  .offer-form-block {
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
  }

  .offer-form-block__icon svg {
    height: 3.5rem;
  }

  .offer-form-block__text p {
    font-size: 2rem;
  }

  .offer-form-block__heading {
    padding-right: 12rem;
  }
}
