.posts {
  display: grid;
  gap: 1rem;

  @include block-spacing("padding", 2rem);
}

.posts__pagination {
  @include block-spacing("padding", 1rem);
  display: flex;
}

.posts__pagination a {
  flex: 1 1 100%;
  padding: 1rem;

  color: $primary-color;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@include breakpoint(medium) {
  .posts {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    @include block-spacing("padding", 4rem);
  }
  .posts__pagination {
    @include block-spacing("padding", 2rem);
  }
}
