.text-image {
  display: grid;
  gap: 1rem;
}

.text-image__image {
  min-height: 12rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .text-image__image-element {
  margin-top: 0;
  max-width: 100%;
}

.text-image__text p,
.text-image__text ul {
  margin-left: 0;
  margin-right: 0;
}

@include breakpoint(medium) {
  .text-image {
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
  }

  .text-image--imageRight .text-image__image {
    order: 1;
  }

  .text-image__image {
    min-height: 24rem;
  }

  @for $i from 1 through 6 {
    .text-image-image--#{$i} {
      grid-column: span $i;
    }
    .text-image-text--#{$i} {
      grid-column: span $i;
    }
  }
}
