.form {
  position: relative;

  padding: 1rem;

  background-color: grayColor(1);
}

.form__section + .form__section {
  margin-top: 1rem;
}

.form__label {
  color: grayColor(9);
  font-weight: bold;
}

.form__label--input {
  display: block;
  margin-bottom: 0.5rem;
}

.form__input {
  display: block;
  min-height: 2.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;

  font-family: map-get($setting-fonts, primary);
  font-size: 1rem;

  border: 1px solid grayColor(4);
  border-radius: 0.25rem;
}

.form-submit-message {
  position: absolute;

  opacity: 0;
  overflow: hidden;
  transition: height 150ms ease-in-out;
}

.form-submit-message__content {
  margin-top: 1rem;
  padding: 1rem;

  color: grayColor(1);
  text-align: center;

  background-color: tertiaryColor(4);
}

.form-submit-message__heading {
  margin-bottom: 0.5rem;

  font-weight: bold;
}
