hr,
.hr {
  height: 0.25rem;
  width: 4rem;

  border: none;

  &.default {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}

@include breakpoint(medium) {
  hr,
  .hr {
    width: 8rem;

    &.default {
      margin-bottom: 3rem;
      margin-top: 2rem;
    }
  }
}
